/ {
    zephyr,user {
        thermo = <&thermo>;
    };
};

&i2c0 {
        status = "okay";
        thermo: si7021@40{
                compatible = "silabs,si7006";
                reg = <0x40>;
                label = "Si7021";
                status = "okay";
        };
};
